<form>
  <div class="form-group">
    <label for="bookSearch">Book search</label>
    <input type="email" class="form-control" id="bookSearch" aria-describedby="bookSearchHelp">
    <small id="bookSearchHelp" class="form-text text-muted">Search by title, author, or genre.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

