<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img width="40" class="mr-2" alt="Book Me Logo" src="assets/images/Books-Free-Best-Sco-clipart.png"/>
        <strong>Welcome To Book Me</strong>
      </a>
    </div>
    <div class="spacer"></div>
    <a aria-label="Book Me On Gitlab" target="_blank" rel="noopener" href="https://gitlab.com/ccmcbrien007/book-me" title="Gitlab">
      <img src="assets/images/gitlab-logo.svg" type="image/svg+xml" height="24px" alt="Find Book Me on Gitlab here">
    </a>
  </div>
</header>
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Book Me</h1>
      <h2>Your awesome source of literary goodness</h2>
      <p class="lead text-muted">Book Me is an <a href="https://angular.io">Angular</a> web app, using the Google Book Search API.  Find books easily online.  Presented by Chris McBrien @ <a href="https://www.radicalspeed.ca">Radical Speed</a></p>
      <p>
        <app-book-search-form></app-book-search-form>
      </p>
    </div>
  </section>
  <router-outlet></router-outlet>
</main>
